@import url("https://fonts.googleapis.com/css2?family=Borel&family=Edu+SA+Beginner:wght@400;500;600;700&family=Lumanosimo&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/food-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  background: rgb(146, 145, 145);
  max-width: 90rem;
  min-height: 70vh;
  margin: 4vw auto;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(104, 67, 0, 0.452);
  background-color: rgba(233, 233, 233, 0.5);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .container {
    margin: auto;
    min-height: 100vh;
    border-radius: unset;
  }
}
.container .logo {
  grid-area: logo;
}
.container .right {
  grid-area: right;
}
.container header {
  display: grid;
  grid-template-areas: "logo right right";
  padding: 40px;
  border-radius: 15px;
  background-color: rgba(190, 190, 190, 0.548);
}
@media (max-width: 1000px) {
  .container header {
    width: 100%;
  }
}
.container header .notification {
  display: none;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  background-color: #ffb600;
  border-radius: 15px;
  font-weight: 900;
  padding: 5px;
}
.container header .notification img {
  width: 100px;
  height: 90px;
}
@media (max-width: 700px) {
  .container header .notification img {
    width: 60px;
    height: 45px;
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .container header {
    flex-direction: column;
    margin: 0 auto;
    gap: 25px;
    grid-template-areas: "logo logo" "right right";
  }
}
@media (max-width: 1000px) {
  .container header {
    margin: 0 auto;
    grid-template-areas: "logo logo" "right right";
  }
}
.container header .weather {
  background: #ffb600;
  display: grid;
  place-items: center;
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  max-height: 100px;
  min-width: 175px;
}
.container header .weather p {
  display: flex;
  flex-direction: column;
}
.container header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 150px;
}
.container header .logo:hover {
  transform: translateY(-2px);
  scale: 1.02;
}
@media (max-width: 700px) {
  .container header .logo {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .container header .logo {
    margin: 0 auto;
  }
}
.container header .logo img {
  height: 100px;
}
.container header .logo a {
  font-family: "Pacifico", cursive;
}
.container header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-right: 150px;
}
@media (max-width: 700px) {
  .container header .right {
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .container header .right {
    gap: 10px;
  }
}
@media (max-width: 380px) {
  .container header .right {
    gap: 5px;
  }
}
@media (max-width: 1000px) {
  .container header .right {
    margin: 0 auto;
  }
}
.container header .right .search_form form {
  background: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding-left: 8px;
}
.container header .right .search_form form:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.356);
}
.container header .right .search_form form input {
  border: none;
  outline: none;
  width: 300px;
}
.container header .right .search_form form input::-moz-placeholder {
  color: rgba(148, 99, 0, 0.5490196078);
}
.container header .right .search_form form input::placeholder {
  color: rgba(148, 99, 0, 0.5490196078);
}
@media (max-width: 550px) {
  .container header .right .search_form form input {
    width: 150px;
  }
}
@media (max-width: 380px) {
  .container header .right .search_form form input {
    width: 75px;
  }
}
.container header .right .search_form form button {
  background-color: #ffb600;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 40px;
  padding: 10px 30px;
  transition: all 0.3s;
  font-family: "Edu SA Beginner", cursive;
}
.container header .right .search_form form button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}
@media (max-width: 380px) {
  .container header .right .search_form form button {
    padding: 5px 15px;
  }
}
.container header .right .likes {
  position: relative;
  font-size: 25px;
  cursor: pointer;
  background: #ffb600;
  padding: 7px;
  border-radius: 8px;
  transition: all 0.4s;
  opacity: 1;
}
.container header .right .likes:hover > .list {
  visibility: visible;
  opacity: 1;
}
.container header .right .likes .list {
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  opacity: 0;
  position: absolute;
  top: 50px;
  right: -300px;
  margin-right: 150px;
  z-index: 100000;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  border-radius: 20px;
  padding: 10px;
}
@media (max-width: 900px) {
  .container header .right .likes .list {
    width: 150px;
    right: -250px;
  }
}
@media (max-width: 700px) {
  .container header .right .likes .list {
    right: -170px;
  }
}
.container header .right .likes .list a {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid black;
  padding: 6px;
}
.container header .right .likes .list a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .container header .right .likes .list a img {
    width: 35px;
    height: 35px;
  }
}
.container header .right .likes .list a p {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  .container main {
    grid-template-columns: 1fr;
  }
}
.container main .results {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: start;
  align-items: center;
}
@media (max-width: 550px) {
  .container main .results {
    margin: 5px;
    gap: 7.5px;
  }
}
.container main .results .result-link {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 183, 0, 0.6901960784);
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.3s;
  margin-right: 5px;
  width: 80%;
}
@media (min-width: 1000px) {
  .container main .results .result-link {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .container main .results .result-link {
    width: 350px;
    gap: unset;
  }
}
.container main .results .result-link:hover {
  transform: translateY(-2px);
  cursor: pointer;
  background: rgba(255, 183, 0, 0.9843137255);
}
.container main .results .result-link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 550px) {
  .container main .results .result-link img {
    width: 30px;
    height: 30px;
  }
}
.container main .results .result-link .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 550px) {
  .container main .results .result-link .data {
    font-size: 13px;
  }
}
.container main .results .result-link .data h4 {
  font-family: "Borel", cursive;
  color: #8b5d00;
  transition: 0.2s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}
.container main .results .result-link .data h4:hover {
  color: rgb(85, 45, 0);
}
.container main .results .result-link .data p {
  font-family: "Pacifico", cursive;
  white-space: nowrap;
}
.container main .recipe {
  background-color: rgba(190, 190, 190, 0.548);
}
.container main .recipe figure {
  height: 300px;
  position: relative;
}
.container main .recipe figure::before {
  content: "";
  display: block;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.container main .recipe figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .recipe figure h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: black;
  font-weight: 600;
  padding: 8px 30px;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  white-space: nowrap;
  text-shadow: 0 0 10px rgb(202, 202, 202);
  font-family: "Pacifico", cursive;
  border-radius: 3px;
  letter-spacing: 3px;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container main .recipe figure .like-area {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}
.container main .recipe figure .like-area i {
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
}
.container main .recipe figure .like-area i:hover {
  cursor: pointer;
  background: #a73d00;
  color: #fff;
}
.container main .recipe .ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  -moz-column-gap: 90px;
       column-gap: 90px;
  width: 100%;
  justify-content: center;
  margin-top: 35px;
}
.container main .recipe .ingredients ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 550px) {
  .container main .recipe .ingredients ul {
    grid-template-columns: 1fr;
  }
}
.container main .recipe .ingredients ul li {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
.container main .recipe .ingredients ul li i {
  color: #a73d00;
}
.container main .recipe .ingredients ul li p {
  white-space: nowrap;
  max-width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container main .recipe .ingredients button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 15px;
  margin: 50px auto;
  width: 100%;
  font-size: 20px;
  background-color: #f77221;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  gap: 10px;
}
.container main .recipe .ingredients button:hover {
  scale: 0.97;
}
.container main .recipe .ingredients button span {
  font-family: "Edu SA Beginner", cursive;
  font-weight: 900;
  letter-spacing: 2px;
}
.container main .recipe .ingredients button span,
.container main .recipe .ingredients button i {
  pointer-events: none;
}
.container main .recipe .directions {
  text-align: center;
  padding-bottom: 40px;
}
.container main .recipe .directions h2 {
  transform: skewY(-3deg);
  font-weight: 600;
  color: #b64301;
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
  font-size: 27px;
  text-shadow: 0 0 10px #f76b1c;
}
.container main .recipe .directions p {
  padding: 50px;
  font-weight: 400;
}
.container main .recipe .directions p span {
  color: #9c3a01;
}
.container main .recipe .directions a {
  padding: 10px 30px;
  border: 1px solid #f77221;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s;
}
.container main .recipe .directions a:hover {
  background-color: #f77221;
  color: black;
}
.container main .shopping h2 {
  text-align: center;
  font-family: "Edu SA Beginner", cursive;
  padding: 5px 2px;
  margin: 30px;
}
.container main .shopping .button-area {
  display: flex;
  justify-content: end;
  margin: 5px;
  padding: 5px;
}
.container main .shopping .button-area button {
  display: none;
  gap: 5px;
  background: rgb(252, 36, 36);
  color: white;
  transition: background 0.3s, scale 0.3s;
  cursor: pointer;
}
.container main .shopping .button-area button:hover {
  scale: 0.95;
  background: rgb(165, 0, 0);
}
.container main .shopping ul {
  overflow-x: auto;
}
.container main .shopping ul li {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid #773912;
  font-family: "Edu SA Beginner", cursive;
  font-weight: 600;
}
.container main .shopping ul li i {
  cursor: pointer;
  font-size: 20px;
}

.loader img {
  margin: 80px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#like-btn {
  color: #fc5f05;
}/*# sourceMappingURL=style.css.map */